<app-navbar></app-navbar>
<section id="MarketingBusinessHero" class="py-5">
  <div class="container py-5">
    <div class="text-center py-5">
      <h1 class="pb-2 animate__animated animate__bounceIn">
        Marketing & Business House
      </h1>
      <p class="pb-4 fw-bold animate__animated animate__fadeInUp">
        Unleash the full potential of your brand with our marketing magic!
      </p>
    </div>
  </div>
</section>
<section id="Marketing-BusinessHouse" class="pt-5 pb-md-5 pb-2">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 col-12 order-lg-1 order-2">
        <div class="row">
          <div
            class="col-12 col-lg-6"
            data-aos="fade-right"
            data-aos-duration="900"
          >
            <h2 class="pb-1 fs-3">
              <img
                src="./assets/images/mbh-1.png"
                alt="Marketing Consulting and Planning"
                class="me-2"
              /><span>Marketing Consulting and Planning</span>
            </h2>
            <p>
              Your business Potentiate with our dynamic marketing planning
              services. We'll identifyopportunities, map out strategies, and set
              you on the path to unstoppable growth and success.
            </p>
          </div>
          <div
            class="col-12 col-lg-6"
            data-aos="fade-right"
            data-aos-duration="1050"
          >
            <h2 class="pb-1 fs-3">
              <img
                src="./assets/images/mbh-2.png"
                alt="Business Consulting and Planning"
                class="me-2"
              /><span>Business Consulting and Planning</span>
            </h2>
            <p>
              With our business planning process we integrate market analysis,
              financial forecasting, andactionable strategies to optimize
              resources and drive your market growth.
            </p>
          </div>
          <div
            class="col-12 col-lg-6"
            data-aos="fade-right"
            data-aos-duration="1200"
          >
            <h2 class="pb-1 fs-3">
              <img
                src="./assets/images/mbh-3.png"
                alt="Market Analysis"
                class="me-2"
              /><span>Market Analysis</span>
            </h2>
            <p>
              Harness the potency of incisive market analysis to decode trends,
              forecast shifts, and seizeprofitable opportunities within your
              industry.
            </p>
          </div>
          <div
            class="col-12 col-lg-6"
            data-aos="fade-right"
            data-aos-duration="1350"
          >
            <h2 class="pb-1 fs-3">
              <img
                src="./assets/images/mbh-4.png"
                alt="Branding and Corporate Identity"
                class="me-2"
              />
              <span>Branding and Corporate Identity</span>
            </h2>
            <p>
              Forge a distinctive brand identity that captivates your audience,
              resonates with authenticity,and leaves an indelible mark on your
              market.
            </p>
          </div>
          <div
            class="col-12 col-lg-6"
            data-aos="fade-right"
            data-aos-duration="1500"
          >
            <h2 class="pb-1 fs-3">
              <img
                src="./assets/images/mbh-5.png"
                alt="Brand Activations"
                class="me-2"
              /><span>Brand Activations</span>
            </h2>
            <p>
              Fuel your brand's momentum with our expert brand activation
              services! Whether through electrifying events, captivating
              campaigns, or engaging interactions, we specialize in driving
              customer actions that propel your business forward.
            </p>
          </div>
          <div
            class="col-12 col-lg-6"
            data-aos="fade-right"
            data-aos-duration="1650"
          >
            <h2 class="pb-1 fs-3">
              <img
                src="./assets/images/mbh-6.png"
                alt="Audience Analysis"
                class="me-2"
              /><span>Audience Analysis</span>
            </h2>
            <p>
              Your Audience in Your Hands! Discover their hidden gems to decode
              what makes customers tick, paving the way for strategic decisions
              that elevate your brand to new heights.
            </p>
          </div>
          <div class="col-12" data-aos="fade-right" data-aos-duration="1800">
            <h2 class="pb-1 fs-3">
              <img
                src="./assets/images/mbh-7.png"
                alt="Public Relations"
                class="me-2"
              /><span>Public Relations</span>
            </h2>
            <p>
              Stay ahead of Trends!Our proactive approach to PR ensures that we
              stay ahead of trends, anticipate challenges, andcapitalize on
              opportunities to position your brand to be Top of Minds!
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 order-lg-2 order-1 text-center">
        <img
          class="img-fluid animate__animated animate__fadeInDown"
          src="./assets/images/marketingBusiness.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
