<section id="Marketing-BusinessHouse" class="pt-5 pb-md-5 pb-2">
  <div class="container">
    <div class="text-lg-start text-center">
      <h1 class="pb-2">Marketing & Business House</h1>
      <p class="pb-4 fw-bold">
        Unleash the full potential of your brand with our marketing magic!
      </p>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-8 col-12 order-lg-1 order-2">
        <div class="row">
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">Marketing Consulting and Planning</h4>
            <p>
              Your business Potentiate with our dynamic marketing planning
              services. We'll identifyopportunities, map out strategies, and set
              you on the path to unstoppable growth and success.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">Business Consulting and Planning</h4>
            <p>
              With our business planning process we integrate market analysis,
              financial forecasting, andactionable strategies to optimize
              resources and drive your market growth.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">Market Analysis</h4>
            <p>
              Harness the potency of incisive market analysis to decode trends,
              forecast shifts, and seizeprofitable opportunities within your
              industry.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">Branding and Corporate Identity</h4>
            <p>
              Forge a distinctive brand identity that captivates your audience,
              resonates with authenticity,and leaves an indelible mark on your
              market.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">Brand Activations</h4>
            <p>
              Fuel your brand's momentum with our expert brand activation
              services! Whether through electrifying events, captivating
              campaigns, or engaging interactions, we specialize in driving
              customer actions that propel your business forward.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">Audience Analysis</h4>
            <p>
              Your Audience in Your Hands! Discover their hidden gems to decode
              what makes customers tick, paving the way for strategic decisions
              that elevate your brand to new heights.
            </p>
          </div>
          <div class="col-12">
            <h4 class="pb-1">Public Relations</h4>
            <p>
              Stay ahead of Trends!Our proactive approach to PR ensures that we
              stay ahead of trends, anticipate challenges, andcapitalize on
              opportunities to position your brand to be Top of Minds!
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 order-lg-2 order-1 text-center">
        <img
          class="img-fluid"
          src="./assets/images/marketingBusiness.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
