<!-- Hero Start -->
<section id="hero" class="py-5">
  <div class="container py-5 my-5">
    <div class="row align-items-center">
      <div class="col-xl-5 col-lg-6 px-lg-5 mb-5 text-lg-start text-center">
        <h1 class="fw-bold mb-4">
          <span>Endless Possibilities …</span> <span>Endless Impact!</span>
        </h1>
        <p class="col-lg-12 col-md-6 m-auto mb-3">
          <span class="fw-bold">ITSP</span> is dedicated to helping businesses
          expand their reach and impact across the globe. Wecombine cutting-edge
          software solutions with innovative marketing strategies to
          bridgelanguage barriers, connect with diverse audiences, and drive
          international success.
        </p>
        <a routerLink="/aboutUs" class="btn py-2 col-lg-5 col-md-4 col-6"
          >About us</a
        >
      </div>
      <div class="col-xl-7 col-lg-6">
        <!-- ============================================= -->
        <swiper [config]="hero">
          <ng-template swiperSlide
            ><img
              class="img-fluid"
              src="./assets/images/hero_slider1.jpg"
              alt=""
          /></ng-template>
          <ng-template swiperSlide
            ><img
              class="img-fluid"
              src="./assets/images/hero_slider2.jpg"
              alt=""
          /></ng-template>
          <ng-template swiperSlide
            ><img
              class="img-fluid"
              src="./assets/images/hero_slider3.jpg"
              alt=""
          /></ng-template>
          <ng-template swiperSlide
            ><img
              class="img-fluid"
              src="./assets/images/hero_slider4.jpg"
              alt=""
          /></ng-template>
          <ng-template swiperSlide
            ><img
              class="img-fluid"
              src="./assets/images/hero_slider3.jpg"
              alt=""
          /></ng-template>
          <ng-template swiperSlide
            ><img
              class="img-fluid"
              src="./assets/images/hero_slider2.jpg"
              alt=""
          /></ng-template>
        </swiper>
        <!-- ============================================= -->
        <!-- ============================================= -->
      </div>
    </div>
  </div>
</section>
<!-- solutions Start -->
<section id="solutions" class="py-5">
  <div class="container px-lg-5 py-5">
    <h3 class="text-center fw-bold mb-4">Our solutions</h3>
    <p class="text-center container mb-5">
      Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur aliquet
      neque condimentum non. Sed sagittis libero condimentum bibendum venenatis.
      Nulla feugiat ut proin facilisis in at et sit. In est semper aliquet porta
      ultricies. Elementum blandit sed risus amet non.
    </p>
    <div class="row allsolutions align-items-center">
      <div class="col-lg-4 col-md-6 mb-4">
        <a routerLink="/softwareHouse">
          <div id="software" class="container px-4 py-3">
            <h5 class="fw-semibold"><span>software house</span></h5>
            <div class="row align-items-center">
              <div class="col-10 pe-0">
                <p>
                  <span
                    >We “potential” “Empower” “Cultivate” your business with our
                    transformativeSoftware Solutions.</span
                  >
                </p>
              </div>
              <div class="col-2 px-0 text-center">
                <i class="fa-regular fa-file-code"></i>
              </div>
            </div>
            <p class="fw-semibold">
              <span
                ><i class="fa-solid fa-angles-right"></i> Click to learn
                more</span
              >
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <a routerLink="/digitalMarketing">
          <div id="business" class="container px-4 py-4">
            <h5 class="fw-semibold"><span>Digital Marketing House</span></h5>
            <div class="row align-items-center">
              <div class="col-9">
                <p>
                  <span
                    >Unleash Your Brand's Digital Superpowers with ITSP!</span
                  >
                </p>
              </div>
              <div class="col-3 text-center">
                <i class="fa-solid fa-award"></i>
              </div>
            </div>
            <p class="fw-semibold">
              <span
                ><i class="fa-solid fa-angles-right"></i> Click to learn
                more</span
              >
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 mb-3">
        <a routerLink="/marketingBusiness">
          <div id="marketing" class="container px-4 py-4">
            <h5 class="fw-semibold"><span>Marketing & Business House</span></h5>
            <div class="row align-items-center">
              <div class="col-9">
                <p>
                  <span
                    >Unleash the full potential of your brand with our marketing
                    magic!</span
                  >
                </p>
              </div>
              <div class="col-3 text-center">
                <span><i class="fa-solid fa-arrow-trend-up"></i></span>
              </div>
            </div>
            <p class="fw-semibold">
              <span
                ><i class="fa-solid fa-angles-right"></i> Click to learn
                more</span
              >
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio Start -->
<section id="portfolio" class="py-5">
  <div class="container">
    <h3 class="text-center fw-bold">Portfolio</h3>
    <p class="text-center px-md-5 px-1 my-5">
      Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur aliquet
      neque condimentum non. Sed sagittis libero condimentum bibendum venenatis.
      Nulla feugiat ut proin facilisis in at et sit. In est semper aliquet porta
      ultricies. Elementum blandit sed risus amet non.
    </p>
    <!-- ============================ -->
    <swiper [config]="portfolio" class="mb-5">
      <ng-template swiperSlide
        ><div class="card p-3">
          <img
            src="./assets/images/video-2.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">Shela App</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a href="./project.html" class="btn col-12">More Details</a>
          </div>
        </div></ng-template
      >
      <ng-template swiperSlide>
        <div class="card p-3">
          <img
            src="./assets/images/video-1.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">Visit Egypt</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a href="./project.html" class="btn col-12">More Details</a>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card p-3">
          <img src="./assets/images/video.png" class="card-img-top" alt="..." />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">For-Students</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a href="./project.html" class="btn col-12">More Details</a>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide
        ><div class="card p-3">
          <img
            src="./assets/images/video-2.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">Shela App</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a href="./project.html" class="btn col-12">More Details</a>
          </div>
        </div></ng-template
      >
      <ng-template swiperSlide>
        <div class="card p-3">
          <img
            src="./assets/images/video-1.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">Visit Egypt</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a href="./project.html" class="btn col-12">More Details</a>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card p-3">
          <img src="./assets/images/video.png" class="card-img-top" alt="..." />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">For-Students</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a href="./project.html" class="btn col-12">More Details</a>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide
        ><div class="card p-3">
          <img
            src="./assets/images/video-2.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">Shela App</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a href="./project.html" class="btn col-12">More Details</a>
          </div>
        </div></ng-template
      >
      <ng-template swiperSlide>
        <div class="card p-3">
          <img
            src="./assets/images/video-1.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">Visit Egypt</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a href="./project.html" class="btn col-12">More Details</a>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card p-3">
          <img src="./assets/images/video.png" class="card-img-top" alt="..." />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">For-Students</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a href="./project.html" class="btn col-12">More Details</a>
          </div>
        </div>
      </ng-template>
    </swiper>
    <!-- ============================ -->
    <div class="more-projects text-center">
      <a href="portfolio.html" class="btn col-lg-4 col-md-6 col-10"
        >More Projects</a
      >
    </div>
  </div>
</section>
<!-- Reels Start -->
<section id="reels" class="py-5">
  <h3 class="text-center fw-bold my-5">Reels</h3>
  <div class="container-xl px-md-4 px-3 pb-3">
    <div class="row align-items-end">
      <div class="col-lg-6 mainReel px-2 mb-3">
        <div class="card p-md-3 p-2">
          <img
            hidden
            src="./assets/images/reel1.jpg"
            alt=""
            class="card-img-top"
          />
          <iframe
            width="100%"
            src="https://www.youtube.com/embed/-uaQ10YJSG4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
          <div class="card-body p-0 pt-2">
            <div class="container">
              <div class="row card-title align-items-center">
                <h5 class="col-6 px-0">Mohamed El-hossiny</h5>
                <div class="col-6 px-0 text-end mb-2">
                  <a href="" class="btn px-3 py-2">Tech Category</a>
                </div>
                <p class="px-0 mb-0">
                  Lorem ipsum dolor sit amet consectetur. Nulla felis
                  consectetur aliquet neque condimentum non. Sed sagittis libero
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 px-0 subReel mini-cards mb-3">
        <div class="container">
          <div class="row justify-content-center">
            <!-- start of card -->
            <div class="col-sm-6 my-2">
              <div class="card p-md-3 p-2">
                <img
                  src="./assets/images/reel1.jpg"
                  data-reelUrl="https://www.youtube.com/embed/-uaQ10YJSG4"
                  alt=""
                  class="card-img-top"
                />
                <div class="reelCover">
                  <i class="fa-solid fa-play"></i>
                </div>
                <div class="card-body p-0 pt-2">
                  <div class="container">
                    <div class="row card-title align-items-center">
                      <h5 class="col-8 px-0 fw-semibold">Mohamed El-hossiny</h5>
                      <div class="col-4 px-0 text-end mb-2">
                        <a href="" class="btn px-1">Tech Category</a>
                      </div>
                      <p class="px-0 mb-0">
                        1 Lorem ipsum dolor sit amet consectetur. Nulla felis
                        consectetur aliquet neque condimentum non. Sed sagittis
                        libero
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of card -->
            <div class="col-sm-6 my-2">
              <div class="card p-md-3 p-2">
                <img
                  src="./assets/images/reel2.jpg"
                  data-reelUrl="https://www.youtube.com/embed/TB58g9mcDDg"
                  alt=""
                  class="card-img-top"
                />
                <div class="reelCover">
                  <i class="fa-solid fa-play"></i>
                </div>
                <div class="card-body p-0 pt-2">
                  <div class="container">
                    <div class="row card-title align-items-center">
                      <h5 class="col-8 px-0 fw-semibold">Mohamed Abo-Oubida</h5>
                      <div class="col-4 px-0 text-end mb-2">
                        <a href="" class="btn px-1">Tech Category</a>
                      </div>
                      <p class="px-0 mb-0">
                        2 Lorem ipsum dolor sit amet consectetur. Nulla felis
                        consectetur aliquet neque condimentum non. Sed sagittis
                        libero
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 my-2">
              <div class="card p-md-3 p-2">
                <img
                  src="./assets/images/reel3.jpg"
                  data-reelUrl="https://www.youtube.com/embed/NJIOQyIflV4"
                  alt=""
                  class="card-img-top"
                />
                <div class="reelCover">
                  <i class="fa-solid fa-play"></i>
                </div>
                <div class="card-body p-0 pt-2">
                  <div class="container">
                    <div class="row card-title align-items-center">
                      <h5 class="col-8 px-0 fw-semibold">Hamza Nasr</h5>
                      <div class="col-4 px-0 text-end mb-2">
                        <a href="" class="btn px-1">Tech Category</a>
                      </div>
                      <p class="px-0 mb-0">
                        3 Lorem ipsum dolor sit amet consectetur. Nulla felis
                        consectetur aliquet neque condimentum non. Sed sagittis
                        libero
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 my-2">
              <div class="card p-md-3 p-2">
                <img
                  src="./assets/images/reel4.jpg"
                  data-reelUrl="https://www.youtube.com/embed/hpsbZf5YvOI"
                  alt=""
                  class="card-img-top"
                />
                <div class="reelCover">
                  <i class="fa-solid fa-play"></i>
                </div>
                <div class="card-body p-0 pt-2">
                  <div class="container">
                    <div class="row card-title align-items-center">
                      <h5 class="col-8 px-0 fw-semibold">Mohamed El-hossiny</h5>
                      <div class="col-4 px-0 text-end mb-2">
                        <a href="" class="btn px-1">Tech Category</a>
                      </div>
                      <p class="px-0 mb-0">
                        4 Lorem ipsum dolor sit amet consectetur. Nulla felis
                        consectetur aliquet neque condimentum non. Sed sagittis
                        libero
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 more-reels text-center mt-3">
        <a href="reels.html" class="btn col-lg-4 col-md-6 col-10 rounded">
          More Reels</a
        >
      </div>
    </div>
  </div>
</section>
<!-- Team Start -->
<section id="team" class="py-5">
  <div class="container">
    <h3 class="text-center fw-bold">Expert Team</h3>
    <p class="text-center px-md-5 px-1 my-5">
      Composed of professionals with high skills and extensive experience, our
      team is driven todeliver outstanding outcomes.
    </p>

    <swiper [config]="team" class="mb-5">
      <ng-template swiperSlide>
        <div class="pb-1 rounded-4">
          <img src="./assets/images/photo.png" class="" alt="..." />
          <div
            class="layout-1 d-flex flex-wrap text-start px-4 align-items-end"
          >
            <div class="col-12">
              <h5 class="fw-bold">Hazim Mo</h5>
              <p class="fw-semibold mb-1">Position: Full-stack developer</p>
              <p class="fw-semibold">
                Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit
                amet consectetur.
              </p>
            </div>
          </div>
          <div class="layout-2 d-flex align-items-center">
            <div class="text-center col-12">
              <a target="_blank" href="#" class="btn"
                ><i class="fa-brands fa-square-facebook"></i
              ></a>
              <a target="_blank" href="#" class="btn"
                ><i class="fa-brands fa-square-snapchat"></i
              ></a>
              <a target="_blank" href="#" class="btn"
                ><i class="fa-solid fa-bitcoin-sign"></i
              ></a>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="pb-1 rounded-4">
          <img src="./assets/images/photo-1.png" class="" alt="..." />
          <div
            class="layout-1 d-flex flex-wrap text-start px-4 align-items-end"
          >
            <div class="col-12">
              <h5 class="fw-bold">Hazim Mo</h5>
              <p class="fw-semibold mb-1">Position: Full-stack developer</p>
              <p class="fw-semibold">
                Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit
                amet consectetur.
              </p>
            </div>
          </div>
          <div class="layout-2 d-flex align-items-center">
            <div class="text-center col-12">
              <a target="_blank" href="#" class="btn"
                ><i class="fa-brands fa-square-facebook"></i
              ></a>
              <a target="_blank" href="#" class="btn"
                ><i class="fa-brands fa-square-snapchat"></i
              ></a>
              <a target="_blank" href="#" class="btn"
                ><i class="fa-solid fa-bitcoin-sign"></i
              ></a>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="pb-1 rounded-4">
          <img src="./assets/images/photo-2.png" class="" alt="..." />
          <div
            class="layout-1 d-flex flex-wrap text-start px-4 align-items-end"
          >
            <div class="col-12">
              <h5 class="fw-bold">Hazim Mo</h5>
              <p class="fw-semibold mb-1">Position: Full-stack developer</p>
              <p class="fw-semibold">
                Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit
                amet consectetur.
              </p>
            </div>
          </div>
          <div class="layout-2 d-flex align-items-center">
            <div class="text-center col-12">
              <a target="_blank" href="#" class="btn"
                ><i class="fa-brands fa-square-facebook"></i
              ></a>
              <a target="_blank" href="#" class="btn"
                ><i class="fa-brands fa-square-snapchat"></i
              ></a>
              <a target="_blank" href="#" class="btn"
                ><i class="fa-solid fa-bitcoin-sign"></i
              ></a>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="pb-1 rounded-4">
          <img src="./assets/images/photo-3.png" class="" alt="..." />
          <div
            class="layout-1 d-flex flex-wrap text-start px-4 align-items-end"
          >
            <div class="col-12">
              <h5 class="fw-bold">Hazim Mo</h5>
              <p class="fw-semibold mb-1">Position: Full-stack developer</p>
              <p class="fw-semibold">
                Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit
                amet consectetur.
              </p>
            </div>
          </div>
          <div class="layout-2 d-flex align-items-center">
            <div class="text-center col-12">
              <a target="_blank" href="#" class="btn"
                ><i class="fa-brands fa-square-facebook"></i
              ></a>
              <a target="_blank" href="#" class="btn"
                ><i class="fa-brands fa-square-snapchat"></i
              ></a>
              <a target="_blank" href="#" class="btn"
                ><i class="fa-solid fa-bitcoin-sign"></i
              ></a>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="pb-1 rounded-4">
          <img src="./assets/images/photo.png" class="" alt="..." />
          <div
            class="layout-1 d-flex flex-wrap text-start px-4 align-items-end"
          >
            <div class="col-12">
              <h5 class="fw-bold">Hazim Mo</h5>
              <p class="fw-semibold mb-1">Position: Full-stack developer</p>
              <p class="fw-semibold">
                Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit
                amet consectetur.
              </p>
            </div>
          </div>
          <div class="layout-2 d-flex align-items-center">
            <div class="text-center col-12">
              <a target="_blank" href="#" class="btn"
                ><i class="fa-brands fa-square-facebook"></i
              ></a>
              <a target="_blank" href="#" class="btn"
                ><i class="fa-brands fa-square-snapchat"></i
              ></a>
              <a target="_blank" href="#" class="btn"
                ><i class="fa-solid fa-bitcoin-sign"></i
              ></a>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="pb-1 rounded-4">
          <img src="./assets/images/photo-1.png" class="" alt="..." />
          <div
            class="layout-1 d-flex flex-wrap text-start px-4 align-items-end"
          >
            <div class="col-12">
              <h5 class="fw-bold">Hazim Mo</h5>
              <p class="fw-semibold mb-1">Position: Full-stack developer</p>
              <p class="fw-semibold">
                Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit
                amet consectetur.
              </p>
            </div>
          </div>
          <div class="layout-2 d-flex align-items-center">
            <div class="text-center col-12">
              <a target="_blank" href="#" class="btn"
                ><i class="fa-brands fa-square-facebook"></i
              ></a>
              <a target="_blank" href="#" class="btn"
                ><i class="fa-brands fa-square-snapchat"></i
              ></a>
              <a target="_blank" href="#" class="btn"
                ><i class="fa-solid fa-bitcoin-sign"></i
              ></a>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="pb-1 rounded-4">
          <img src="./assets/images/photo-2.png" class="" alt="..." />
          <div
            class="layout-1 d-flex flex-wrap text-start px-4 align-items-end"
          >
            <div class="col-12">
              <h5 class="fw-bold">Hazim Mo</h5>
              <p class="fw-semibold mb-1">Position: Full-stack developer</p>
              <p class="fw-semibold">
                Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit
                amet consectetur.
              </p>
            </div>
          </div>
          <div class="layout-2 d-flex align-items-center">
            <div class="text-center col-12">
              <a target="_blank" href="#" class="btn"
                ><i class="fa-brands fa-square-facebook"></i
              ></a>
              <a target="_blank" href="#" class="btn"
                ><i class="fa-brands fa-square-snapchat"></i
              ></a>
              <a target="_blank" href="#" class="btn"
                ><i class="fa-solid fa-bitcoin-sign"></i
              ></a>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="pb-1 rounded-4">
          <img src="./assets/images/photo-3.png" class="" alt="..." />
          <div
            class="layout-1 d-flex flex-wrap text-start px-4 align-items-end"
          >
            <div class="col-12">
              <h5 class="fw-bold">Hazim Mo</h5>
              <p class="fw-semibold mb-1">Position: Full-stack developer</p>
              <p class="fw-semibold">
                Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit
                amet consectetur.
              </p>
            </div>
          </div>
          <div class="layout-2 d-flex align-items-center">
            <div class="text-center col-12">
              <a target="_blank" href="#" class="btn"
                ><i class="fa-brands fa-square-facebook"></i
              ></a>
              <a target="_blank" href="#" class="btn"
                ><i class="fa-brands fa-square-snapchat"></i
              ></a>
              <a target="_blank" href="#" class="btn"
                ><i class="fa-solid fa-bitcoin-sign"></i
              ></a>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</section>
<!-- world map  -->
<section id="world" class="py-5">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-lg-0 mb-2">
        <h2 class="fw-bold">We code & connect you with the world.</h2>
        <p>
          Beyond Borders, Beyond Limits: Connecting the World Through Software &
          Digital Marketing!The world is our canvas, and languages are our
          colors. We're not just a software and digitalmarketing company; we're
          global architects, building bridges across cultures and continents.
        </p>
      </div>
      <div class="col-lg-6 text-center">
        <img class="img-fluid" src="./assets/images/worldmap.png" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- ready -->
<section id="ready" class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 mb-lg-0 mb-3 text-lg-start text-center">
        <h2>Ready to conquer your digital dreams? Request a quote today!</h2>
      </div>
      <div class="col-lg-3 col-md-6 col-12 text-center">
        <a routerLink="/contact" class="btn col-8 py-2"> Contact us</a>
      </div>
    </div>
  </div>
</section>
