#hero {
  position: relative;
  overflow-y: hidden;
  min-height: 80vh;
}
#hero h1,
#hero p {
  color: white;
}

#hero video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
#world video {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
}
#hero a.text-decoration-none {
  position: absolute;
  bottom: 40px;
  left: 100px;
}
#hero a.text-decoration-none:hover {
  cursor: pointer;
}
#career {
  background-image: url("../../../../assets/images/career.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}
#career h2 {
  font-family: var(--font-headers);
}
#career a.btn {
  color: white;
  background-color: var(--fulvous);
}

#world {
  color: white;
}
#world video,
#hero video {
  width: 100%;
  height: 100%;
}
@media (min-aspect-ratio: 12/9) {
  #world video,
  #hero video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 12/9) {
  #world video,
  #hero video {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 400px) {
  #hero a.text-decoration-none {
    left: 50px;
  }
}
