<section id="error404" class="py-5">
  <div class="container py-5">
    <div class="py-5">
      <h1 class="text-center display-1 pt-5 fw-bold mb-2">
        <i class="fa-solid fa-triangle-exclamation"></i> <br />
        Error 404
      </h1>
      <p class="text-center fs-1 mb-3">Sorry, the page is not found!</p>
      <p class="text-center fs-4 mb-5">
        The Link you followed is probably broken
        <i class="fa-solid fa-link-slash"></i> <br />
        or the page has been removed
      </p>
    </div>
  </div>
</section>
