<app-navbar></app-navbar>
<section id="error404" class="py-5">
  <div class="container py-5">
    <div class="text-center">
      <img
        src="assets/images/Error_Lamp_Robot.png"
        alt="Error Lamp Robot"
        class="img-fluid"
      />
      <h1 class="text-center display-4 pt-5 fw-bold mb-2">Oh no! Error 404</h1>
      <p class="text-center fs-4 mb-3 col-lg-5 col-md-7 col-12 mx-auto">
        Oops! That page seems to have taken a detour. Let us guide you back to
        your destination.
      </p>
      <p class="text-center fs-4 mb-5">
        <a routerLink="/home" class="btn px-5 py-3">Back to Homepage</a>
      </p>
    </div>
  </div>
</section>
<app-footer></app-footer>
