<main>
  <section id="intro">
    <nav class="navbar navbar-expand-lg">
      <div class="container-xl">
        <a class="navbar-brand" href="#">
          <img
            src="./assets/images/loc_camp/loc-camp-logo.png"
            alt=""
            class="img-fluid"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/loc-camp"
                >Home</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                About US
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://loc-camp.com/about-us/"
                    >Who we are</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://loc-camp.com/about-us/#why"
                    >Why Loc Camp</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://loc-camp.com/about-us/#awards"
                    >Awards and Certificates</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://loc-camp.com/project-management/"
                    >Project Management</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                target="_blank"
                href="https://loc-camp.com/solutions-structure/"
                >Solution Structure</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Solution
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://loc-camp.com/technology-solutions/"
                    >Technology Solutions</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://loc-camp.com/multimedia-solutions/"
                    >Multimedia Solutions</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://loc-camp.com/translation-localization-solutions/"
                    >Translation & Localization Solutions</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://loc-camp.com/gaming-solutions/"
                    >Gaming Solutions</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://loc-camp.com/content-globalization-solutions/"
                    >Content Globalization Solutions</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://loc-camp.com/globalization-testing-solutions/"
                    >Globalization Testing Solutions</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://loc-camp.com/interpretation/"
                    >Interpretation</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://loc-camp.com/desktop-publishing-localization-engineering/"
                    >Desktop Publishing & Localization Engineering</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                target="_blank"
                href="https://loc-camp.com/languages/"
                >Language</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                target="_blank"
                href="https://loc-camp.com/industries/"
                >Industries</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                target="_blank"
                href="https://loc-camp.com/blog/"
                >Blog</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                target="_blank"
                href="https://loc-camp.com/contact-us/"
                >Contact US</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-xl py-5">
      <div class="row align-items-center py-5">
        <div class="col-lg-6 py-md-5">
          <h1 class="display-5 col-lg-10 col-md-6 col-sm-7 text-light">
            GIVE YOUR WORDS THE RIGHT VOICE, <br />
            <span class="fw-bold">GLOBALLY!</span>
          </h1>
          <p class="text-light lh-lg">
            Loc Camp is your go-to solution for breaking down language barriers
            and ensuring your message resonates worldwide! We specialize in
            helping businesses effortlessly reach their global audience by
            translating content into over 200 languages. With Loc Camp, your
            words will always find the perfect voice, no matter where in the
            world your audience is
          </p>
          <a routerLink="/loc-camp/locCampMessage" class="btn px-5">Sign In</a>
        </div>
      </div>
    </div>
  </section>
  <section id="locCampSolutions" class="py-5">
    <div class="container">
      <h2 class="display-6 text-center fw-bold mb-5">SOLUTIONS</h2>
      <div class="row justify-content-center">
        <!-- =========== -->
        <div class="col-lg-1 d-lg-block d-none"></div>
        <div class="col-lg-2 col-md-3 col-6 mb-2 text-center">
          <img
            src="./assets/images/loc_camp/translation_localization.png"
            alt="Solution | translation localization"
            class="img-fluid mb-2"
          />
          <p class="fw-bold">TRANSLATION & LOCALIZATION</p>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mb-2 text-center">
          <img
            src="./assets/images/loc_camp/ai_technology_solutions.png"
            alt="Solution | ai technology solutions"
            class="img-fluid mb-2"
          />
          <p class="fw-bold">AI & TECHNOLOGY SOLUTIONS</p>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mb-2 text-center">
          <img
            src="./assets/images/loc_camp/gaming_solutions.png"
            alt="Solution | gaming solutions"
            class="img-fluid mb-2"
          />
          <p class="fw-bold">GAMING SOLUTIONS</p>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mb-2 text-center">
          <img
            src="./assets/images/loc_camp/interpretation.png"
            alt="Solution | INTERPRETATION solutions"
            class="img-fluid mb-2"
          />
          <p class="fw-bold">INTERPRETATION</p>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mb-2 text-center">
          <img
            src="./assets/images/loc_camp/multimedia.png"
            alt="Solution | MULTIMEDIA  solutions"
            class="img-fluid mb-2"
          />
          <p class="fw-bold">MULTIMEDIA</p>
        </div>
        <div class="col-lg-1 d-lg-block d-none"></div>
        <div class="col-lg-2 col-md-3 col-6 mb-2 text-center">
          <img
            src="./assets/images/loc_camp/content_globalization.png"
            alt="Solution | CONTENT GLOBALIZATION solutions"
            class="img-fluid mb-2"
          />
          <p class="fw-bold">CONTENT GLOBALIZATION</p>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mb-2 text-center">
          <img
            src="./assets/images/loc_camp/globalization_testing.png"
            alt="Solution | GLOBALIZATION TESTING solutions"
            class="img-fluid mb-2"
          />
          <p class="fw-bold">GLOBALIZATION TESTING</p>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mb-2 text-center">
          <img
            src="./assets/images/loc_camp/desktop_publishing.png"
            alt="Solution | DESKTOP PUBLISHING & SOFTWARE ENGINEERING solutions"
            class="img-fluid mb-2"
          />
          <p class="fw-bold">DESKTOP PUBLISHING & SOFTWARE ENGINEERING</p>
        </div>
        <!-- =========== -->
      </div>
    </div>
  </section>
  <section id="locCampMessage" class="py-5">
    <div class="container-xl py-5">
      <div class="row justify-content-end">
        <div class="col-lg-6 col-md-7">
          <form action="">
            <div class="form-group mb-2">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                id="name"
                placeholder="Full Name"
                class="form-control form-control-lg"
              />
            </div>
            <div class="form-group mb-2">
              <label for="position" class="form-label">Position</label>
              <input
                type="text"
                id="position"
                placeholder="your title"
                class="form-control form-control-lg"
              />
            </div>
            <div class="form-group mb-2">
              <label for="company" class="form-label">Company</label>
              <input
                type="text"
                id="company"
                placeholder="Company name"
                class="form-control form-control-lg"
              />
            </div>
            <div class="form-group mb-2">
              <label for="phone" class="form-label">Phone</label>
              <input
                type="text"
                id="phone"
                placeholder="Phone number"
                class="form-control form-control-lg"
              />
            </div>
            <div class="form-group mb-2">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                id="email"
                placeholder="Your best email address"
                class="form-control form-control-lg"
              />
            </div>
            <div class="form-group mb-2">
              <label for="service" class="form-label">Needed service</label>
              <input
                type="text"
                id="service"
                placeholder="Briefly describe the subject of your message"
                class="form-control form-control-lg"
              />
            </div>
            <div class="form-group mb-4">
              <label for="service" class="form-label">Needed service</label>
              <textarea
                class="form-control form-control-lg"
                id="service"
                rows="5"
                placeholder="Briefly describe the subject of your message"
              ></textarea>
            </div>
            <div class="form-group mb-2">
              <button class="btn w-100 py-3">send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section id="locCampAcheivement" class="py-5">
    <div class="container-xl py-5">
      <h2 class="fs-1 text-center fw-bold mb-5">ACHIEVEMENTS</h2>
      <div class="mb-4">
        <p class="text-center fs-5">
          Loc Camp proudly provides over 200 languages from European, Middle
          Eastern, Asian, and African to other rare languages that will keep
          your brand’s voice, key message, and content consistent across all
          digital platforms & world cultures.
        </p>
        <p class="text-center fs-5">
          We‘ve shown commitment consistency and integrity in every project
          we’ve worked on. We‘ve proudly managed to maintain our customers’
          loyalty and trust by meeting their high expectations and fulfilling
          our promise.
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md col-sm-4 col-6 text-center mb-3">
          <span class="display-4 fw-bold">200+</span><br /><span
            class="fs-5 fw-bold texts"
            >LANGUAGES</span
          >
        </div>
        <div class="col-md col-sm-4 col-6 text-center mb-3">
          <span class="display-4 fw-bold">500+</span><br /><span
            class="fs-5 fw-bold texts"
            >CLIENTS</span
          >
        </div>
        <div class="col-md col-sm-4 col-6 text-center mb-3">
          <span class="display-4 fw-bold">10K+</span><br /><span
            class="fs-5 fw-bold texts"
            >PROJECTS</span
          >
        </div>
        <div class="col-md col-sm-4 col-6 text-center mb-3">
          <span class="display-4 fw-bold">50M+</span><br /><span
            class="fs-5 fw-bold texts"
            >TRANSLATIONS WORDS</span
          >
        </div>
        <div class="col-md col-sm-4 col-6 text-center mb-3">
          <span class="display-4 fw-bold">10+</span><br /><span
            class="fs-5 fw-bold texts"
            >YEARS OF BUSINESS</span
          >
        </div>
      </div>
    </div>
  </section>
  <footer id="locCampFooter" class="py-5">
    <div class="container-xl">
      <div class="row pb-5">
        <div class="col-sm-6 text-sm-start text-center">
          <img
            src="../../../assets/images/loc_camp/loc-camp-logo.png"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-sm-6 pb-5 pt-md-5 pt-3 text-white">
          <div class="mb-3 pt-sm-5 fs-3">
            <p class="text-center mb-0">SALES@LOC-CAMP.CO</p>
            <p class="text-center">MARKETING@LOC-CAMP.CO</p>
          </div>
          <div class="row justify-content-center mx-0 mb-sm-0 mb-5">
            <div class="col-md-8 col-sm-10 text-center">
              <a
                target="_blank"
                href="https://www.facebook.com/people/Loc-Camp/100081562090845"
                class="me-md-5 me-3 fs-3"
                ><i class="fa-brands fa-facebook"></i></a
              ><a href="#" class="me-md-5 me-3 fs-3"
                ><i class="fa-brands fa-x-twitter"></i></a
              ><a href="#" class="me-md-5 me-3 fs-3"
                ><i class="fa-brands fa-instagram"></i></a
              ><a
                target="_blank"
                href="https://www.linkedin.com/company/loc-camp/"
                class="me-md-5 me-3 fs-3"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</main>
