<app-navbar></app-navbar>
<section id="reelAll" class="py-5">
  <div class="container py-5">
    <div class="pb-5 mb-5">
      <div class="pb-5 mb-5">
        <div class="pb-5 mb-5 text-center">
          <h1 class="fw-bold">ditch text books, dive into digital!</h1>
          <p class="col-lg-8 col-md-10 col-12 mx-auto">
            Forget dull lectures and outdated manuals. We understand how
            overwhelming the digital world can be. That's why we designed a
            space where learning feels like catching up with a friend.
          </p>
          <a (click)="sectionNav('reels', 'allReels')"
            ><i class="fa-solid fa-angle-down"></i> Scroll to Show Reels</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section id="allReels" class="py-5">
  <h2 class="fw-bold text-center mb-3">our reels</h2>
  <div class="container">
    <div class="row">
      <!-- Start of card -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card p-md-3 p-2">
          <img
            src="./assets/images/reel1.jpg"
            data-reelUrl="https://www.youtube.com/embed/GMFb27PdB3I?si=CP7W5jdN6FDAcI0H"
            alt=""
            class="card-img-top mb-3"
          />
          <div class="blackout">
            <img src="./assets/images/play.png" alt="playbutton" />
          </div>
          <div class="card-body text-start p-0">
            <h5 class="card-title fw-semibold">What's Digital Marketing?</h5>
            <p class="card-text mb-0">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <p class="mb-0"><small>Marketing Category</small></p>
          </div>
        </div>
      </div>
      <!-- End of card -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card p-md-3 p-2">
          <img
            src="./assets/images/reel2.jpg"
            data-reelUrl="https://www.youtube.com/embed/FPhg_ZjrPtU?si=4iznqmqWmzhYlyNY"
            alt=""
            class="card-img-top mb-3"
          />
          <div class="blackout">
            <img src="./assets/images/play.png" alt="playbutton" />
          </div>
          <div class="card-body text-start p-0">
            <h5 class="card-title fw-semibold">What a Story</h5>
            <p class="card-text mb-0">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <p class="mb-0"><small>Marketing Category</small></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card p-md-3 p-2">
          <img
            src="./assets/images/reel3.jpg"
            data-reelUrl="https://www.youtube.com/embed/UBUNrFtufWo?si=T8tvjiCu47uFVRij"
            alt=""
            class="card-img-top mb-3"
          />
          <div class="blackout">
            <img src="./assets/images/play.png" alt="playbutton" />
          </div>
          <div class="card-body text-start p-0">
            <h5 class="card-title fw-semibold">Session vs Token</h5>
            <p class="card-text mb-0">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <p class="mb-0"><small>Software Category</small></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card p-md-3 p-2">
          <img
            src="./assets/images/reel4.jpg"
            data-reelUrl="https://www.youtube.com/embed/DK8M-ZFjaMw?si=Lk_8VhLKnNAOH0Co"
            alt=""
            class="card-img-top mb-3"
          />
          <div class="blackout">
            <img src="./assets/images/play.png" alt="playbutton" />
          </div>
          <div class="card-body text-start p-0">
            <h5 class="card-title fw-semibold">What’s new in Angular v18</h5>
            <p class="card-text mb-0">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <p class="mb-0"><small>Software Category</small></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card p-md-3 p-2">
          <img
            src="./assets/images/reel1.jpg"
            data-reelUrl="https://www.youtube.com/embed/GMFb27PdB3I?si=CP7W5jdN6FDAcI0H"
            alt=""
            class="card-img-top mb-3"
          />
          <div class="blackout">
            <img src="./assets/images/play.png" alt="playbutton" />
          </div>
          <div class="card-body text-start p-0">
            <h5 class="card-title fw-semibold">What's Digital Marketing?</h5>
            <p class="card-text mb-0">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <p class="mb-0"><small>Marketing Category</small></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card p-md-3 p-2">
          <img
            src="./assets/images/reel2.jpg"
            data-reelUrl="https://www.youtube.com/embed/FPhg_ZjrPtU?si=4iznqmqWmzhYlyNY"
            alt=""
            class="card-img-top mb-3"
          />
          <div class="blackout">
            <img src="./assets/images/play.png" alt="playbutton" />
          </div>
          <div class="card-body text-start p-0">
            <h5 class="card-title fw-semibold">What a Story</h5>
            <p class="card-text mb-0">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <p class="mb-0"><small>Marketing Category</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================================== -->
<div class="bigScreen hidden">
  <div class="showReel d-flex justify-content-center align-items-center hidden">
    <iframe
      width="100%"
      src=""
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>
<app-footer></app-footer>
