<section id="DigitalMarketingHouseHero" class="py-5">
  <div class="container py-5">
    <div class="text-center py-5">
      <h1 class="pb-2">Digital Marketing House</h1>
      <p class="pb-4 fw-bold">
        Unleash Your Brand's Digital Superpowers with ITSP!
      </p>
    </div>
  </div>
</section>
<section id="DigitalMarketingHouse" class="pt-5 pb-md-5 pb-2">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 col-12 order-lg-1 order-2">
        <div class="row">
          <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-3">
            <h4 class="pb-1">
              <img
                src="./assets/images/dmh-1.png"
                alt="Performance Management"
                class="me-2"
              />
              <span>Performance Management</span>
            </h4>
            <p>
              We are your digital marketing superheroes, transforming SEO
              struggles into keyword conquests,crafting captivating ad
              campaigns, and developing lead generation strategies that
              attractaudience, effectively.
            </p>
          </div>
          <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-3">
            <h4 class="pb-1">
              <img
                src="./assets/images/dmh-2.png"
                alt="Social Media Management"
                class="me-2"
              />
              <span>Social Media Management</span>
            </h4>
            <p>
              At ITSP, we're content, engagement and algorithm wizards!We craft
              engaging & compelling posts, visually striking designs, and
              interactive stories thatresonate with your target audience,
              leaving them wanting more.
            </p>
          </div>
          <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-3">
            <h4 class="pb-1">
              <img
                src="./assets/images/dmh-3.png"
                alt="Content Creation and Development"
                class="me-2"
              />
              <span>Content Creation and Development</span>
            </h4>
            <p>
              We don't just create content, we build relationships. We work
              closely with you to understandyour brand voice, target audience,
              and goals, ensuring every piece of content reflects yourunique
              identity and drives meaningful results.
            </p>
          </div>
          <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-3">
            <h4 class="pb-1">
              <img
                src="./assets/images/dmh-4.png"
                alt="Influencers’ Marketing"
                class="me-2"
              />
              <span>Influencers’ Marketing</span>
            </h4>
            <p>
              We trust in the power of authentic voices, trusted relationships,
              and reliable referrals. That'swhy, we offer influencer marketing
              services that go beyond the hype, connecting you with theideal
              influencers, who genuinely communicate with your audience to
              create a buzz.
            </p>
          </div>
          <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-3">
            <h4 class="pb-1">
              <img
                src="./assets/images/dmh-5.png"
                alt="Graphic Design"
                class="me-2"
              />
              <span>Graphic Design</span>
            </h4>
            <p>
              Our talented team of graphic designers deep-dive into your brand
              identity, translating yourvision into stunning visuals that
              resonate with your audience, and establish lasting
              brandrecognition.
            </p>
          </div>
          <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-3">
            <h4 class="pb-1">
              <img
                src="./assets/images/dmh-6.png"
                alt="Photography and Videography"
                class="me-2"
              />
              <span>Photography and Videography</span>
            </h4>
            <p>
              We adapt our style & techniques to your projects, and capture
              visually-stunning masterpiecesthat spark emotions, tell your
              brand's story, and leave audiences captivated.
            </p>
          </div>
          <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-3">
            <h4 class="pb-1">
              <img
                src="./assets/images/dmh-7.png"
                alt="Video Editing"
                class="me-2"
              />
              <span>Video Editing</span>
            </h4>
            <p>
              We master the art of storytelling, through weaving together
              visuals, sound, and motion like asymphony, creating a seamless and
              visually-enchanting experience that keeps viewers glued tothe
              screen.
            </p>
          </div>
          <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-3">
            <h4 class="pb-1">
              <img
                src="./assets/images/dmh-8.png"
                alt="Voice Over"
                class="me-2"
              />
              <span>Voice Over</span>
            </h4>
            <p>
              We transform written words into captivating voices that infuse
              your message with personality,emotion, and trust, driving viewers
              to click, convert, and connect with your brand.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-lg-0 mb-3 col-12 order-lg-2 order-1 text-center">
        <img
          class="img-fluid"
          src="./assets/images/aboutUsMarketing.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
