<section id="DigitalMarketingHouse" class="pt-5 pb-md-5 pb-2">
  <div class="container">
    <div class="text-lg-start text-center">
      <h1 class="pb-2">Digital Marketing House</h1>
      <p class="pb-4 fw-bold">
        Unleash Your Brand's Digital Superpowers with ITSP!
      </p>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-8 col-12 order-lg-1 order-2">
        <div class="row">
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">Performance Management</h4>
            <p>
              We are your digital marketing superheroes, transforming SEO
              struggles into keyword conquests,crafting captivating ad
              campaigns, and developing lead generation strategies that
              attractaudience, effectively.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">Social Media Management</h4>
            <p>
              At ITSP, we're content, engagement and algorithm wizards!We craft
              engaging & compelling posts, visually striking designs, and
              interactive stories thatresonate with your target audience,
              leaving them wanting more.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">Content Creation and Development</h4>
            <p>
              We don't just create content, we build relationships. We work
              closely with you to understandyour brand voice, target audience,
              and goals, ensuring every piece of content reflects yourunique
              identity and drives meaningful results.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">Influencers’ Marketing</h4>
            <p>
              We trust in the power of authentic voices, trusted relationships,
              and reliable referrals. That'swhy, we offer influencer marketing
              services that go beyond the hype, connecting you with theideal
              influencers, who genuinely communicate with your audience to
              create a buzz.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">Graphic Design</h4>
            <p>
              Our talented team of graphic designers deep-dive into your brand
              identity, translating yourvision into stunning visuals that
              resonate with your audience, and establish lasting
              brandrecognition.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">Photography and Videography</h4>
            <p>
              We adapt our style & techniques to your projects, and capture
              visually-stunning masterpiecesthat spark emotions, tell your
              brand's story, and leave audiences captivated.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">Video Editing</h4>
            <p>
              We master the art of storytelling, through weaving together
              visuals, sound, and motion like asymphony, creating a seamless and
              visually-enchanting experience that keeps viewers glued tothe
              screen.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">Voice Over</h4>
            <p>
              We transform written words into captivating voices that infuse
              your message with personality,emotion, and trust, driving viewers
              to click, convert, and connect with your brand.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 order-lg-2 order-1 text-center">
        <img
          class="img-fluid"
          src="./assets/images/aboutUsMarketing.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
