<section id="portfolioAll" class="">
  <div class="container-fluid py-5">
    <div class="container py-5 height">
      <div class="text-center">
        <h1 class="fw-bold">Our Portfolio</h1>
        <p class="col-lg- col-md-9 col-12 mx-auto fs-5">
          This portfolio is a testament to the diverse range of projects that
          reflect my dedication to creativity, innovation, and meticulous
          craftsmanship. Each piece tells a unique story, showcasing not only
          technical proficiency but also a commitment to delivering impactful
          solutions.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="projects" class="py-5">
  <div class="container">
    <div class="row">
      <!-- Start of card -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card p-md-3 p-2">
          <img src="./assets/images/video.png" class="card-img-top" alt="..." />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">For-Students</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a routerLink="/project/2" class="btn col-12">More Details</a>
          </div>
        </div>
      </div>
      <!-- End of card -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card p-md-3 p-2">
          <img
            src="./assets/images/video-1.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">Visit Egypt</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a routerLink="/project/2" class="btn col-12">More Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card p-md-3 p-2">
          <img
            src="./assets/images/video-2.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">Shela App</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a routerLink="/project/2" class="btn col-12">More Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card p-md-3 p-2">
          <img src="./assets/images/video.png" class="card-img-top" alt="..." />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">For-Students</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a routerLink="/project/2" class="btn col-12">More Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card p-md-3 p-2">
          <img
            src="./assets/images/video-1.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">Visit Egypt</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a routerLink="/project/2" class="btn col-12">More Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card p-md-3 p-2">
          <img
            src="./assets/images/video-2.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">Shela App</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a routerLink="/project/2" class="btn col-12">More Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
