<app-navbar></app-navbar>
<section id="portfolioAll" class="">
  <div class="container-fluid py-5">
    <div class="container py-5 height">
      <div class="text-center">
        <h1 class="fw-bold">we don't just build software, we build dreams!</h1>
        <p class="col-lg- col-md-9 col-12 mx-auto fs-5">
          We've helped businesses of all sizes conquer IT challenges with our
          custom software solutions, which range from optimizing processes to
          boosting productivity. We don't stop there. We manage your digital
          marketing channels, crafting campaigns & digital strategies that not
          only capture attention, but also convert clicks into consumers.Ready
          to explore your digital potential? Let's talk about your vision and
          see how we can turn it into reality. We're more than codes, likes and
          clicks; we're your Digital Growth partners!
        </p>
      </div>
    </div>
  </div>
</section>
<section id="projects" class="py-5">
  <h2 class="text-center fw-bold">our projects</h2>
  <div class="container">
    <div class="row">
      <!-- Start of card -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card p-md-3 p-2">
          <img src="./assets/images/video.png" class="card-img-top" alt="..." />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">For-Students</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a routerLink="/project/2" class="btn col-12">More Details</a>
          </div>
        </div>
      </div>
      <!-- End of card -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card p-md-3 p-2">
          <img
            src="./assets/images/video-1.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">Visit Egypt</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a routerLink="/project/2" class="btn col-12">More Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card p-md-3 p-2">
          <img
            src="./assets/images/video-2.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">Shela App</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a routerLink="/project/2" class="btn col-12">More Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card p-md-3 p-2">
          <img src="./assets/images/video.png" class="card-img-top" alt="..." />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">For-Students</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a routerLink="/project/2" class="btn col-12">More Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card p-md-3 p-2">
          <img
            src="./assets/images/video-1.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">Visit Egypt</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a routerLink="/project/2" class="btn col-12">More Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card p-md-3 p-2">
          <img
            src="./assets/images/video-2.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body text-start">
            <h5 class="card-title fw-semibold">Shela App</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur. Nulla felis consectetur
              aliquet neque condimentum non. Sed sagittis libero
            </p>
            <a routerLink="/project/2" class="btn col-12">More Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
