/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
.top-bar {
  background-color: var(--black);
  color: var(--font-main);
}
nav {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

nav .navbar-nav .nav-link,
nav .navbar-nav .nav-link.show {
  color: var(--black);
  box-shadow: none;
  font-size: 20px;
}
nav .navbar-nav .nav-link.active {
  color: var(--fulvous);
}
nav .navbar-nav .nav-item .dropdown-menu.show {
  background-color: var(--black);
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: var(--font-main);
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.281);
}
nav .nav-item button.btn {
  background-color: var(--font-main);
}
nav .nav-item a.access span {
  background: var(--linear);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
