<section id="AboutUs-hero" class="py-5">
  <div class="container py-5">
    <div class="py-5">
      <h1 class="text-center mb-4 fw-semibold pt-5 display-2">
        The Story Behind ITSP!
      </h1>
      <p class="text-center fs-5 pb-5">
        From that spark, our business took off. We tackled websites, then apps,
        each project testing the limits of available technology and cultural
        awareness. We assembled teams of gifted developers, designers, and
        marketers, with each member contributing a special strength to the whole
        team.
      </p>
    </div>
  </div>
</section>
<section id="aboutCard-1" class="py-5">
  <div class="container">
    <h2 class="text-center fw-semibold"><span>Get to Know us!</span></h2>
    <p class="text-center fs-5">
      From that spark, our business took off. We tackled websites, then apps,
      each project testing the limits of available technology and cultural
      awareness. We assembled teams of gifted developers, designers, and
      marketers, with each member contributing a special strength to the whole
      team.
    </p>
  </div>
</section>
<section id="aboutCard-2" class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 text-center">
        <img src="./assets/images/aboutUs2.png" alt="" class="img-fluid" />
      </div>
      <div class="col-md-8 py-2">
        <h2 class="fs-1 fw-semibold mb-xl-5 mb-3">
          Philosophy and Methodology
        </h2>
        <ul type="disc mb-xl-5  mb-3">
          <li><h3 class="fs-2">Philosophy</h3></li>
        </ul>
        <p class="mb-xl-5 mb-3 fs-5">
          We deliver comprehensive services that encompass the entire spectrum
          of your software solutions, offering full-cycle support from
          development to marketing. Acting as the bridge between your technical
          expertise and commercial realization, we provide targeted marketing
          campaigns and operational support to propel your software successfully
          into the market.
        </p>
        <ul class="mb-xl-5 mb-3 fs-5">
          <li><h3 class="fs-2">Methodology</h3></li>
        </ul>
        <p>
          We don't just build your idea, we empower it. We provide ongoing
          support, data-driven insights, and agile adjustments to guarantee your
          product or service evolves and prospers in the everchanging market
        </p>
      </div>
    </div>
  </div>
</section>
<section id="aboutCard-3" class="py-5">
  <div class="container">
    <h2 class="text-center fw-semibold fs-1">
      <span>Why to choose ITSP Group? (Hammering on our USPs)</span>
    </h2>
    <p class="text-center fs-5 col-lg-10 mx-auto">
      Our goal is to enable businesses to bring their ground-breaking ideas to
      life. We don't just develop software or craft marketing campaigns; we act
      as trusted partners, taking their idea from inception to commercial
      success.
    </p>
  </div>
  <div class="container py-3 mb-3">
    <div
      id="navbar-about-us"
      class="navbar bg-body-tertiary py-3 px-3 mb-3 rounded-3"
    >
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="#premiumCustomerSupport"
            >Premium Customer Support
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#easyCommunication">Easy Communication</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#highQuality">High-quality</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#expertMarketers">Expert Marketers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#onTimeDelivery">On-time delivery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#flexiblePrices">Flexible prices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#customerSatisfaction"
            >100% customer satisfaction</a
          >
        </li>
      </ul>
    </div>
    <div
      data-bs-spy="scroll"
      data-bs-target="#navbar-about-us"
      data-bs-root-margin="0px 0px -40%"
      data-bs-smooth-scroll="true"
      class="scrollspy-about-us bg-body-tertiary p-3 rounded-3 overflow-y-scroll"
      tabindex="0"
    >
      <h4 id="premiumCustomerSupport"><span>Premium Customer Support</span></h4>
      <p class="mb-3">
        We build trust and foster long-lasting partnerships with our clients.
        That's why we offer an immersive customer-experience, designed to be
        your reliable guide while navigating the digital world.
      </p>
      <h4 id="easyCommunication"><span>Easy Communication</span></h4>
      <p class="mb-3">
        We build trust and foster long-lasting partnerships with our clients.
        That's why we offer an immersive customer-experience, designed to be
        your reliable guide while navigating the digital world.
      </p>
      <h4 id="highQuality"><span>High-quality</span></h4>
      <p class="mb-3">
        We build trust and foster long-lasting partnerships with our clients.
        That's why we offer an immersive customer-experience, designed to be
        your reliable guide while navigating the digital world.
      </p>
      <h4 id="expertMarketers"><span>Expert Marketers</span></h4>
      <p class="mb-3">
        We build trust and foster long-lasting partnerships with our clients.
        That's why we offer an immersive customer-experience, designed to be
        your reliable guide while navigating the digital world.
      </p>
      <h4 id="onTimeDelivery"><span>On-time delivery</span></h4>
      <p class="mb-3">
        We build trust and foster long-lasting partnerships with our clients.
        That's why we offer an immersive customer-experience, designed to be
        your reliable guide while navigating the digital world.
      </p>
      <h4 id="flexiblePrices"><span>Flexible prices</span></h4>
      <p class="mb-3">
        We build trust and foster long-lasting partnerships with our clients.
        That's why we offer an immersive customer-experience, designed to be
        your reliable guide while navigating the digital world.
      </p>
      <h4 id="customerSatisfaction"><span>100% customer satisfaction</span></h4>
      <p class="mb-3">
        We build trust and foster long-lasting partnerships with our clients.
        That's why we offer an immersive customer-experience, designed to be
        your reliable guide while navigating the digital world.
      </p>
    </div>
  </div>
</section>
<section id="aboutCard-4" class="py-5">
  <div class="container">
    <h2 class="text-center fs-1 mb-4">Our Quality Standards</h2>
    <p class="text-center mb-4">
      We aim to surpass our clients' expectations and promote the software and
      digital marketing industries, by maintaining these professional quality
      standards. We are advocates of establishing enduring bonds based on
      openness, trust, and a common drive for achievement.
    </p>
    <h3 class="text-center fs-2 mb-4">Software Development Standards</h3>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10 mb-3 text-center position-relative">
        <img src="./assets/images/aboutCard-4-1.png" alt="About Us Image" />
        <div class="position-absolute bottom-0 start-0 text-start px-4 py-3">
          <h4>Agile Methodology</h4>
          <p class="fs-5">
            Throughout the software development lifecycle, we use agile
            development approaches to guarantee flexibility, speed, and
            continual improvement.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-10 mb-3 text-center position-relative">
        <img src="./assets/images/aboutCard-4-2.png" alt="About Us Image" />
        <div class="position-absolute bottom-0 start-0 text-start px-4 py-3">
          <h4>Industry-Leading Practices</h4>
          <p class="fs-5">
            To provide the greatest possible software performance and
            maintainability, we follow consistent coding standards and industry
            best practices.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-10 mb-3 text-center position-relative">
        <img src="./assets/images/aboutCard-4-3.png" alt="About Us Image" />
        <div class="position-absolute bottom-0 start-0 text-start px-4 py-3">
          <h4>Open Communication</h4>
          <p class="fs-5">
            Throughout the development process, we maintain transparent
            communication with our clients to make sure that their expectations
            are met
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-10 mb-3 text-center position-relative">
        <img src="./assets/images/aboutCard-4-4.png" alt="About Us Image" />
        <div class="position-absolute bottom-0 start-0 text-start px-4 py-3">
          <h4>Thorough Testing</h4>
          <p class="fs-5">
            To ensure that campaigns are precise, pertinent, and measurable, we
            base our marketing decisions on data insights and analytics.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="aboutCard-5">
  <div class="container">
    <h3 class="fs-2 mb-4">Marketing Standards</h3>
    <div class="row align-items-center">
      <div class="col-md-7 order-md-1 order-2">
        <ul>
          <li>
            <h3 class="fs-2">Data-Driven Strategies</h3>
          </li>
        </ul>
        <p class="fs-5">
          To ensure that campaigns are precise, pertinent, and measurable, we
          base our marketing decisions on data insights and analytics.
        </p>
        <ul>
          <li>
            <h3 class="fs-2">Ethical Practices</h3>
          </li>
        </ul>
        <p class="fs-5">
          We adhere to ethical marketing guidelines, ensuring compliance with
          data privacy regulations and avoiding any misleading tactics.
        </p>
        <ul>
          <li>
            <h3 class="fs-2">Transparency & Reporting:</h3>
          </li>
        </ul>
        <p class="fs-5">
          To keep our clients informed and engaged, we provide detailed reports
          on campaign performance, important metrics, and ROI
        </p>
        <ul>
          <li>
            <h3 class="fs-2">Continuous Optimization</h3>
          </li>
        </ul>
        <p class="fs-5">
          We constantly monitor and optimize campaigns, adjusting strategies in
          response to performance data and evolving market trends.
        </p>
      </div>
      <div class="col-md-5 order-md-2 order-1 text-center mb-md-0 mb-3">
        <img
          class="img-fluid"
          src="./assets/images/aboutUsMarketing.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<section id="aboutCard-6" class="pt-3 pb-5">
  <div class="container">
    <h3 class="text-center fs-2 mb-4">Overall Excellence Standards</h3>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="col-12 rounded-4 mb-4 p-4 mini-card">
          <h4><span>Client Partnership </span></h4>
          <p>
            treat our clients as partners, encouraging co-operation, building
            trust, and fulfilling their unique needs.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-10">
        <div class="col-12 rounded-4 mb-4 p-4 mini-card">
          <h4><span>Quality Management System</span></h4>
          <p>
            ITSP upholds a strong quality management system that guarantees
            consistency, effectiveness, and ongoing enhancement of all our
            procedures.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-10">
        <div class="col-12 rounded-4 mb-4 p-4 mini-card">
          <h4><span>Expert Team</span></h4>
          <p>
            Composed of professionals with high skills and extensive experience,
            our team is driven to deliver outstanding outcomes.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-10">
        <div class="col-12 rounded-4 mb-4 p-4 mini-card">
          <h4><span>Innovation & Learning</span></h4>
          <p>
            To stay ahead of industry trends and provide cutting-edge solutions,
            we embrace innovation and encourage on-going learning.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="aboutCard-7" class="py-5">
  <h2 class="text-center fs-2 mb-4"><span>Our Dream Team</span></h2>
  <div class="container p-4 rounded-4">
    <div class="row">
      <div class="col-12 mb-4 rounded-4">
        <div class="container px-0">
          <div class="row align-items-center">
            <div class="col-lg-2 col-md-3 col-4 py-2 text-center">
              <p class="fs-4 mb-0"><span>Animators</span></p>
            </div>
            <div class="col-lg-10 col-md-9 col-8 py-2">
              <p class="mb-0">
                Our professional team of animators believes in the power of
                storytelling, through crafting outstanding animations, that
                resonate emotionally and leave a long-lasting impression.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-4 rounded-4">
        <div class="container px-0">
          <div class="row align-items-center">
            <div class="col-lg-2 col-md-3 col-4 py-2 text-center">
              <p class="fs-4 mb-0"><span>Video Editors</span></p>
            </div>
            <div class="col-lg-10 col-md-9 col-8 py-2">
              <p class="mb-0">
                In order to create videos that are both visually stunning &
                emotionally engagingwe combine technical expertise with high
                creativity standards, and collaborate with you to meet your
                objectives, fully grasp your vision, target audience, and
                desired result.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-4 rounded-4">
        <div class="container px-0">
          <div class="row align-items-center">
            <div class="col-lg-2 col-md-3 col-4 py-2 text-center">
              <p class="fs-4 mb-0"><span>Content Creators</span></p>
            </div>
            <div class="col-lg-10 col-md-9 col-8 py-2">
              <p class="mb-0">
                Crafting compelling narratives and visuals, our content creators
                breathe life into your brand. From engaging posts to captivating
                stories, we turn ideas into impactful content that resonates
                with your audience.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-4 rounded-4">
        <div class="container px-0">
          <div class="row align-items-center">
            <div class="col-lg-2 col-md-3 col-4 py-2 text-center">
              <p class="fs-4 mb-0"><span>Software Engineers</span></p>
            </div>
            <div class="col-lg-10 col-md-9 col-8 py-2">
              <p class="mb-0">
                Our expert team builds digital solutions that power the future,
                through creating well-considered codes, producing comprehensive
                documentation, and providing long-lasting & innovative services.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-4 rounded-4">
        <div class="container px-0">
          <div class="row align-items-center">
            <div class="col-lg-2 col-md-3 col-4 py-2 text-center">
              <p class="fs-4 mb-0"><span>Mobile App Developers</span></p>
            </div>
            <div class="col-lg-10 col-md-9 col-8 py-2">
              <p class="mb-0">
                As experienced architects, we can transform your ideas into
                captivating & engaging applications, with cross-platform
                compatibility and flawless performance for all iOS and Android
                devices.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-4 rounded-4">
        <div class="container px-0">
          <div class="row align-items-center">
            <div class="col-lg-2 col-md-3 col-4 py-2 text-center">
              <p class="fs-4 mb-0"><span>Web Developers</span></p>
            </div>
            <div class="col-lg-10 col-md-9 col-8 py-2">
              <p class="mb-0">
                team of web developers pushes the boundaries of the digital
                world, bringing your vision to life with pixel-perfect
                precision.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-4 rounded-4">
        <div class="container px-0">
          <div class="row align-items-center">
            <div class="col-lg-2 col-md-3 col-4 py-2 text-center">
              <p class="fs-4 mb-0"><span>Expert Marketers</span></p>
            </div>
            <div class="col-lg-10 col-md-9 col-8 py-2">
              <p class="mb-0">
                Our team consists of talented strategists, content creators, and
                data analysts who will help your business navigate the online
                landscape, through building communities and creating
                interactions across platforms, to cultivate deep relationships
                with your target audience
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
