<section id="resources">
  <div class="container py-5">
    <div class="text-center py-5">
      <h1 class="text-center display-5 fw-semibold pt-5">Resources</h1>
      <p class="text-center fs-5 pb-5">
        supercharge your business efforts with data-driven insights and
        real-world success stories.
      </p>
    </div>
  </div>
</section>
<section id="caseStudy" class="py-5">
  <h2 class="text-center mb-5 fs-1 fw-semibold py-3">Our Last Case Study</h2>
  <swiper [config]="caseStudy">
    <ng-template swiperSlide>
      <div class="card my-3">
        <img
          src="./assets/images/Resources1.png"
          alt="Resources 1"
          class="card-img-top p-3"
        />
        <div class="card-body text-start">
          <h5 class="card-title fw-semibold">Content Creators collaberation</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur. Curabitur neque duis
            facilisi commodo bibendum mattis amet ipsum. Mus netus.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">4 Min - August 19, 2022</small>
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="card my-3">
        <img
          src="./assets/images/Resources2.png"
          alt="Resources 2"
          class="card-img-top p-3"
        />
        <div class="card-body text-start">
          <h5 class="card-title fw-semibold">company meetup</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur. Curabitur neque duis
            facilisi commodo bibendum mattis amet ipsum. Mus netus.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">4 Min - August 19, 2022</small>
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="card my-3">
        <img
          src="./assets/images/Resources3.png"
          alt="Resources 3"
          class="card-img-top p-3"
        />
        <div class="card-body text-start">
          <h5 class="card-title fw-semibold">Developers competition</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur. Curabitur neque duis
            facilisi commodo bibendum mattis amet ipsum. Mus netus.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">4 Min - August 19, 2022</small>
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="card my-3">
        <img
          src="./assets/images/Resources1.png"
          alt="Resources 1"
          class="card-img-top p-3"
        />
        <div class="card-body text-start">
          <h5 class="card-title fw-semibold">Content Creators collaberation</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur. Curabitur neque duis
            facilisi commodo bibendum mattis amet ipsum. Mus netus.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">4 Min - August 19, 2022</small>
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="card my-3">
        <img
          src="./assets/images/Resources2.png"
          alt="Resources 2"
          class="card-img-top p-3"
        />
        <div class="card-body text-start">
          <h5 class="card-title fw-semibold">company meetup</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur. Curabitur neque duis
            facilisi commodo bibendum mattis amet ipsum. Mus netus.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">4 Min - August 19, 2022</small>
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="card my-3">
        <img
          src="./assets/images/Resources3.png"
          alt="Resources 3"
          class="card-img-top p-3"
        />
        <div class="card-body text-start">
          <h5 class="card-title fw-semibold">Developers competition</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur. Curabitur neque duis
            facilisi commodo bibendum mattis amet ipsum. Mus netus.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">4 Min - August 19, 2022</small>
          </p>
        </div>
      </div>
    </ng-template>
  </swiper>
</section>
<section id="blog" class="py-5">
  <div class="container">
    <h2 class="text-center mb-5 fs-1 fw-semibold">Our Blog</h2>
    <div class="row g-xl-4 g-2">
      <div class="col-lg-4 col-sm-6">
        <div class="position-relative text-center">
          <img src="./assets/images/blog-1.png" alt="" class="img-fluid" />
          <div class="position-absolute p-3 bottom-0 start-0 text-start">
            <p class="fw-semibold mb-0">Lorem ipsum dolor sit amet</p>
            <p class="mb-0">2022</p>
            <p class="mb-0"><small>DIGITAL design, PRODUCT MANAGER</small></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="position-relative text-center">
          <img src="./assets/images/blog-2.png" alt="" class="img-fluid" />
          <div class="position-absolute p-3 bottom-0 start-0 text-start">
            <p class="fw-semibold mb-0">Lorem ipsum dolor sit amet</p>
            <p class="mb-0">2022</p>
            <p class="mb-0"><small>DIGITAL design, PRODUCT MANAGER</small></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="position-relative text-center">
          <img src="./assets/images/blog-3.png" alt="" class="img-fluid" />
          <div class="position-absolute p-3 bottom-0 start-0 text-start">
            <p class="fw-semibold mb-0">Lorem ipsum dolor sit amet</p>
            <p class="mb-0">2022</p>
            <p class="mb-0"><small>DIGITAL design, PRODUCT MANAGER</small></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="position-relative text-center">
          <img src="./assets/images/blog-4.png" alt="" class="img-fluid" />
          <div class="position-absolute p-3 bottom-0 start-0 text-start">
            <p class="fw-semibold mb-0">Lorem ipsum dolor sit amet</p>
            <p class="mb-0">2022</p>
            <p class="mb-0"><small>DIGITAL design, PRODUCT MANAGER</small></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="position-relative text-center">
          <img src="./assets/images/blog-5.png" alt="" class="img-fluid" />
          <div class="position-absolute p-3 bottom-0 start-0 text-start">
            <p class="fw-semibold mb-0">Lorem ipsum dolor sit amet</p>
            <p class="mb-0">2022</p>
            <p class="mb-0"><small>DIGITAL design, PRODUCT MANAGER</small></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="position-relative text-center">
          <img src="./assets/images/blog-6.png" alt="" class="img-fluid" />
          <div class="position-absolute p-3 bottom-0 start-0 text-start">
            <p class="fw-semibold mb-0">Lorem ipsum dolor sit amet</p>
            <p class="mb-0">2022</p>
            <p class="mb-0"><small>DIGITAL design, PRODUCT MANAGER</small></p>
          </div>
        </div>
      </div>
    </div>
    <!-- <swiper [config]="Blog">
      <ng-template swiperSlide>
        <div class="position-relative">
          <img src="./assets/images/blog-1.png" alt="" class="img-fluid" />
          <div class="position-absolute p-3 bottom-0 start-0 text-start">
            <p class="fw-semibold mb-0">Lorem ipsum dolor sit amet</p>
            <p class="mb-0">2022</p>
            <p class="mb-0"><small>DIGITAL design, PRODUCT MANAGER</small></p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="position-relative">
          <img src="./assets/images/blog-2.png" alt="" class="img-fluid" />
          <div class="position-absolute p-3 bottom-0 start-0 text-start">
            <p class="fw-semibold mb-0">Lorem ipsum dolor sit amet</p>
            <p class="mb-0">2022</p>
            <p class="mb-0"><small>DIGITAL design, PRODUCT MANAGER</small></p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="position-relative">
          <img src="./assets/images/blog-3.png" alt="" class="img-fluid" />
          <div class="position-absolute p-3 bottom-0 start-0 text-start">
            <p class="fw-semibold mb-0">Lorem ipsum dolor sit amet</p>
            <p class="mb-0">2022</p>
            <p class="mb-0"><small>DIGITAL design, PRODUCT MANAGER</small></p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="position-relative">
          <img src="./assets/images/blog-4.png" alt="" class="img-fluid" />
          <div class="position-absolute p-3 bottom-0 start-0 text-start">
            <p class="fw-semibold mb-0">Lorem ipsum dolor sit amet</p>
            <p class="mb-0">2022</p>
            <p class="mb-0"><small>DIGITAL design, PRODUCT MANAGER</small></p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="position-relative">
          <img src="./assets/images/blog-5.png" alt="" class="img-fluid" />
          <div class="position-absolute p-3 bottom-0 start-0 text-start">
            <p class="fw-semibold mb-0">Lorem ipsum dolor sit amet</p>
            <p class="mb-0">2022</p>
            <p class="mb-0"><small>DIGITAL design, PRODUCT MANAGER</small></p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="position-relative">
          <img src="./assets/images/blog-6.png" alt="" class="img-fluid" />
          <div class="position-absolute p-3 bottom-0 start-0 text-start">
            <p class="fw-semibold mb-0">Lorem ipsum dolor sit amet</p>
            <p class="mb-0">2022</p>
            <p class="mb-0"><small>DIGITAL design, PRODUCT MANAGER</small></p>
          </div>
        </div>
      </ng-template>
    </swiper> -->
  </div>
</section>
<section id="events" class="py-5">
  <div class="container">
    <h2 class="text-center fs-1 mb-3">Our up coming event</h2>
    <p class="text-center mb-5 fs-5">
      Get the latest updates and deeper in our works
    </p>
    <img
      src="./assets/images/resources-event.png"
      alt="Resources Event"
      class="img-fluid mb-5"
    />
    <p class="fs-2">
      Supercharge your business efforts with data-driven insights and real-world
      success stories.
    </p>
    <p><small>4 Min - August 19, 2022</small></p>
    <h3 class="my-4">Other events</h3>
    <div class="row">
      <div class="col-lg-6">
        <div class="card mb-3">
          <div class="row g-0 align-items-center">
            <div class="col-md-4 p-3 text-center">
              <img
                src="./assets/images/Resources1.png"
                class="img-fluid rounded-start"
                alt="Resources1"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title fw-bold">
                  Content Creators collaberation
                </h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur. Curabitur neque duis
                  facilisi commodo bibendum mattis amet ipsum. Mus netus.
                </p>
                <p class="card-text fs-5">4 Min - August 19, 2022</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card mb-3">
          <div class="row g-0 align-items-center">
            <div class="col-md-4 p-3 text-center">
              <img
                src="./assets/images/Resources2.png"
                class="img-fluid rounded-start"
                alt="Resources2"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title fw-bold">company meetup</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur. Curabitur neque duis
                  facilisi commodo bibendum mattis amet ipsum. Mus netus.
                </p>
                <p class="card-text fs-5">4 Min - August 19, 2022</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
