<section id="softwareHouse" class="pt-5 pb-md-5 pb-2">
  <div class="container">
    <div class="text-lg-start text-center">
      <h1 class="pb-2">Software House</h1>
      <p class="pb-4 fw-bold">
        We “potential” “Empower” “Cultivate” your business with our
        transformativeSoftware Solutions.
      </p>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-8 col-12 order-lg-1 order-2">
        <div class="row">
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">Websites</h4>
            <p>
              "Looking for a website? Look No Further! “Our platform seamlessly
              translates your designs into pristine, semantic code, primed for
              webpublication and developer handoff.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">Mobile Applications</h4>
            <p>
              Transforming visions into vibrant experiences!We leverage our
              expertise to deliver bespoke solutions, with the ability to robust
              mobile appsthat resonate with end-users.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">Desktop Applications</h4>
            <p>
              Enjoy uninterrupted access to Desktop applications anytime,
              anywhere!With seamless download and installation processes, users
              can Using a diverse array ofprogramming languages—including
              JavaScript, HTML, CSS, and much more.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <h4 class="pb-1">ERP Systems</h4>
            <p>
              Effortless efficiency with ERP software streamlines your
              operations in minutes ... plan, budget,predict, perform and report
              financial results effectively!
            </p>
          </div>
          <div class="col-12">
            <h4 class="pb-1">CRM Systems</h4>
            <p>
              Welcome to the future of customer connections!Customer
              Relationship Management with us centralizes all interactions,
              seamlessly integrates allyour sales, leads and customer data into
              a unified platform.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 order-lg-2 order-1 text-center">
        <img class="img-fluid" src="./assets/images/softwareHouse.png" alt="" />
      </div>
    </div>
  </div>
</section>
