<section class="py-5" id="softwareHouseHero">
  <div class="container py-5">
    <div class="text-center py-5">
      <h1 class="pb-2 animate__animated animate__bounceIn">Software House</h1>
      <p class="pb-4 fs-5 fw-bold animate__animated animate__fadeInUp">
        We “potential” “Empower” “Cultivate” your business with our
        transformativeSoftware Solutions.
      </p>
    </div>
  </div>
</section>
<section id="softwareHouse" class="pt-5 pb-md-5 pb-2">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 col-12 order-lg-1 order-2">
        <div class="row">
          <div
            class="col-12 col-lg-6"
            data-aos="fade-right"
            data-aos-duration="900"
          >
            <h2 class="pb-1">
              <img
                src="./assets/images/swh-1.png"
                alt="software house Website logo"
                class="me-2"
              />
              <span>Websites</span>
            </h2>
            <p>
              "Looking for a website? Look No Further! “Our platform seamlessly
              translates your designs into pristine, semantic code, primed for
              webpublication and developer handoff.
            </p>
          </div>
          <div
            class="col-12 col-lg-6"
            data-aos="fade-right"
            data-aos-duration="1050"
          >
            <h2 class="pb-1">
              <img
                src="./assets/images/swh-3.png"
                alt="software house Mobile logo"
                class="me-2"
              />
              <span>Mobile Applications </span>
            </h2>
            <p>
              Transforming visions into vibrant experiences!We leverage our
              expertise to deliver bespoke solutions, with the ability to robust
              mobile appsthat resonate with end-users.
            </p>
          </div>
          <div
            class="col-12 col-lg-6"
            data-aos="fade-right"
            data-aos-duration="1200"
          >
            <h2 class="pb-1">
              <img
                src="./assets/images/swh-2.png"
                alt="software house Desktop logo"
                class="me-2"
              />
              <span>Desktop Applications</span>
            </h2>
            <p>
              Enjoy uninterrupted access to Desktop applications anytime,
              anywhere!With seamless download and installation processes, users
              can Using a diverse array ofprogramming languages—including
              JavaScript, HTML, CSS, and much more.
            </p>
          </div>
          <div
            class="col-12 col-lg-6"
            data-aos="fade-right"
            data-aos-duration="1350"
          >
            <h2 class="pb-1">
              <img
                src="./assets/images/swh-4.png"
                alt="software house ERP logo"
                class="me-2"
              />
              <span>ERP Systems</span>
            </h2>
            <p>
              Effortless efficiency with ERP software streamlines your
              operations in minutes ... plan, budget,predict, perform and report
              financial results effectively!
            </p>
          </div>
          <div class="col-12" data-aos="fade-right" data-aos-duration="1500">
            <h2 class="pb-1">
              <img
                src="./assets/images/swh-5.png"
                alt="software house CRM logo"
                class="me-2"
              />
              <span>CRM Systems</span>
            </h2>
            <p>
              Welcome to the future of customer connections!Customer
              Relationship Management with us centralizes all interactions,
              seamlessly integrates allyour sales, leads and customer data into
              a unified platform.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 order-lg-2 order-1 text-center">
        <img
          class="img-fluid animate__animated animate__fadeInDown"
          src="./assets/images/softwareHouse.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
